html,
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  height: 100vh;
  color: #fff;
}
* {
  box-sizing: border-box;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.content ul {
  position: relative;
  width: 600px;
  height: 280px;
  list-style: none;
  margin: 0;
  overflow: hidden;
}
.content ul input[type="radio"] {
  position: relative;
  z-index: 100;
  display: none;
}
.content ul .label-list {
  position: absolute;
  width: 100%;
  bottom: 12px;
  text-align: center;
}
.content ul .label-list label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 3px;
  border: 2px solid #fff;
}
.content ul input[type="radio"]:nth-of-type(1):checked ~ li {
  transform: translateX(0%);
}
.content ul input[type="radio"]:nth-of-type(2):checked ~ li {
  transform: translateX(-100%);
}
.content ul input[type="radio"]:nth-of-type(3):checked ~ li {
  transform: translateX(-200%);
}
.content ul input[type="radio"]:nth-of-type(4):checked ~ li {
  transform: translateX(-300%);
}
.content ul input[type="radio"]:nth-of-type(1):checked ~ .label-list label:nth-of-type(1) {
  background-color: #333;
}
.content ul input[type="radio"]:nth-of-type(2):checked ~ .label-list label:nth-of-type(2) {
  background-color: #333;
}
.content ul input[type="radio"]:nth-of-type(3):checked ~ .label-list label:nth-of-type(3) {
  background-color: #333;
}
.content ul input[type="radio"]:nth-of-type(4):checked ~ .label-list label:nth-of-type(4) {
  background-color: #333;
}
.content ul li {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 120px;
  transition: transform 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content ul li:nth-of-type(1) {
  background-image: url("imgs/1.jpg");
}
.content ul li:nth-of-type(2) {
  background-image: url("imgs/2.jpg");
  left: 100%;
}
.content ul li:nth-of-type(3) {
  background-image: url("imgs/3.jpg");
  left: 200%;
}
.content ul li:nth-of-type(4) {
  background-image: url("imgs/4.jpg");
  left: 300%;
}
