* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #2c3e50;
}
main {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}
main .heart {
  width: 100%;
  height: 100%;
  background-color: #e74c3c;
  position: relative;
  transition: transform 2s;
}
main .heart::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #e74c3c;
  transform: translateX(-50%);
}
main .heart::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #e74c3c;
  transform: translateY(-50%);
}
main .heart:hover {
  transform: scale(1.5);
}
main .animation {
  margin-top: 300px;
  animation: ahd 5s;
  animation-iteration-count: infinite;
}
@keyframes ahd {
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
