* {
  box-sizing: border-box;
}
.button {
  height: 50px;
  width: 100vw;
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 1000px;
  // border: 1px solid red;
  margin: 0 auto;
  header,
  footer {
    margin-top: 20px;
    img {
      flex: 1;
      max-width: 1200px;
      height: auto;
    }
  }
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    img {
      width: 585px;
      height: 350px;
    }
  }
}
.result {
  text-align: center;
  width: 100vw;
  margin-top: 200px;
  p {
    display: block;
    width: 100%;
    color: red;
    margin: auto;
  }
  img {
    display: inline-block;
  }
}
