html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #34495e;
  box-sizing: border-box;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
}
div {
  height: 300px;
  width: min-content;
  margin: 30px;
  border: 1px solid red;
  color: #fff;
}
