html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #34495e;
  box-sizing: border-box;
}
div {
  height: 300px;
  width: min-content;
  margin: 30px;
  border: 1px solid red;
<<<<<<< HEAD
  color: #fff;
=======
  widows: 100px;
  outline-style: dashed;
}
body > div:nth-child(1) {
  margin-bottom: 50px;
}
body > div:nth-child(2) {
  margin-top: 30px;
>>>>>>> 7d8c6aa09eaa8e26433f7819efe82978fedc4378
}
