body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
main {
  width: 600px;
  height: 600px;
  border: 10px solid greenyellow;
  margin: 0 auto;
  position: relative;
}
div {
  position: absolute;
  left: 100px;
  right: 100px;
  top: 100px;
  bottom: 100px;
  background-color: red;
}
